@inherits LayoutComponentBase

@using Services;
@using Services.DTO;
@using Services.Services.ExtendedUserService;
@using Services.Services.BasketService;
@using Microsoft.Extensions.Configuration


@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IExtendedUserService ExtendedUserService;
@inject IBasketService BasketService
@inject NavigationManager NavigationManager;
@inject IConfiguration Configuration

<div class="main">

    <div class="header-wrapper">
        <div class="row header">
            <div class="col col-6">
                <a href="#"><img src="/images/logo.png" /></a>
            </div>
            <div class="col col-6 float-right">
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:instagram"))" target="_blank"><img src="/images/social-networks/instagram-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:youtube"))" target="_blank"><img src="/images/social-networks/youtube-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:ok"))" target="_blank"><img src="/images/social-networks/ok-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:facebook"))" target="_blank"><img src="/images/social-networks/facebook-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:vk"))" target="_blank"><img src="/images/social-networks/vk-color.png" /></a>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light nav-row">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="">
                    <a href="#" class="@(selectedPunkt == MainMenuPunkt.Main ? "active" : "")">Главная</a>
                </li>

                <li class=" dropdown">
                    <a class="dropdown-toggle @(selectedPunkt == MainMenuPunkt.Profile ? "active" : "")" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <AccountDropdownMenu></AccountDropdownMenu>
                    </div>
                </li>

                <li>
                    <a href="#" class="@(selectedPunkt == MainMenuPunkt.Faq ? "active" : "")">Частые вопросы</a>
                </li>

                <li>
                    <a href="/BuyerField" class="@(selectedPunkt == MainMenuPunkt.BuyerField ? "active" : "")">Склад товаров</a>
                </li>
            </ul>



            <ul class="navbar-nav float-right">
                <li>
                    <div class="dropdown">
                        <a href="/Basket" class="dropright @(selectedPunkt == MainMenuPunkt.Basket ? "active" : "")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-shopping-basket"></span>
                            Корзина
                            @if (inBasketCount > 0)
                            {
                                <span class="badge badge-danger">@inBasketCount</span>
                            }
                        </a>

                        <!-- всплывающее меню корзины -->
                        <div class="dropdown-menu dropdown-form container">
                            @foreach (var group in puzzles.GroupBy(x => x.Lot))
                            {
                                <div class="row">
                                    <div class="col col-3">
                                        <img class="img-full" src="@group.Key.ImageLink" />
                                    </div>
                                    <div class="col col-7">
                                        <h6>@group.Key.Name</h6>
                                        <h6 class="text-red">@(group.Key.PuzzlePrice * group.Count()) ₽</h6>
                                    </div>
                                    <div class="col col-2">
                                        <button class="del-row-btn background-color-white" @onclick="() => DeleteRowFromBasket(user, group.Key)"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <hr />
                                    </div>
                                </div>
                            }

                            <div class="row text-center">
                                <div class="col col-12">
                                    <h5 class="text-gray inline">Подытог: </h5>
                                    <h4 class="text-red inline">@puzzles.Sum(x => x.Lot.PuzzlePrice) ₽</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-12">
                                    <hr />
                                </div>
                            </div>

                            <div class="row conteiner-for-centered text-center">
                                <div class="col col-12">
                                    <button class="btn btn-primary" @onclick="GoToBasket">Перейти в корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="/Search" class="dropright @(selectedPunkt == MainMenuPunkt.Search ? "active" : "")"><span class="fas fa-search"></span> Поиск</a>
                </li>
            </ul>
        </div>
    </nav>


    <CascadingValue Value="@user">
        <CascadingValue Value="@BasketCountChange" Name="BasketCountChange">
            <CascadingValue Value="@MainMenuPunktChanged" Name="MainMenuPunktChanged">
                <div class="content px-4">
                    @Body
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>


@code {

    protected ExtendedUserDto user = null;
    protected int inBasketCount = 0;
    protected List<PuzzleDto> puzzles = new List<PuzzleDto>();
    protected MainMenuPunkt selectedPunkt;

    protected override void OnInitialized()
    {
        user = FindUser().Result;
        UpdateBasket();

        base.OnInitialized();
    }

    private async Task<ExtendedUserDto> FindUser()
    {
        ExtendedUserDto result = null;
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            result = ExtendedUserService.GetByEmail(user.Identity.Name);
        }

        return result;
    }

    // для выделения пунктов меню
    EventCallback mainMenuPunktChanged = EventCallback.Empty;
    EventCallback MainMenuPunktChanged
    {
        get
        {
            if (mainMenuPunktChanged.Equals(EventCallback.Empty))
                mainMenuPunktChanged = EventCallback.Factory.Create(this, (s) => OnMainMenuPunktChanged((MainMenuPunkt)s));
            return mainMenuPunktChanged;
        }
    }

    private void OnMainMenuPunktChanged(MainMenuPunkt punkt)
    {
        selectedPunkt = punkt;
    }


    // это чтобы можно было обновить корзину с конкретных страниц
    EventCallback _BasketCountChange = EventCallback.Empty;
    EventCallback BasketCountChange
    {
        get
        {
            if (_BasketCountChange.Equals(EventCallback.Empty))
                _BasketCountChange = EventCallback.Factory.Create(this, UpdateBasket);
            return _BasketCountChange;
        }
    }

    private void UpdateBasket()
    {
        puzzles = GetBasketPuzzles(user);
        inBasketCount = puzzles.GroupBy(x => x.Lot).Count();
    }

    private List<PuzzleDto> GetBasketPuzzles(ExtendedUserDto user)
    {
        if (user == null)
            return new List<PuzzleDto>();

        BasketDto basket = BasketService.GetBasketByUser(user);
        if (basket == null || !basket.Puzzles.Any())
            return new List<PuzzleDto>();

        return basket.Puzzles.ToList();
    }

    private void GoToBasket()
    {
        NavigationManager.NavigateTo("/Basket");
    }

    private void DeleteRowFromBasket(ExtendedUserDto user, LotDto lot)
    {
        try
        {
            BasketService.RemoveFromBasket(user, lot, true);

            // обновим бейджик у корзины
            BasketCountChange.InvokeAsync(null);
        }
        catch (Exception ex)
        {
        }
    }

}
