@inherits LayoutComponentBase

@using Services;
@using Services.DTO;
@using Services.Services.ExtendedUserService;
@using Services.Services.BasketService;
@using Microsoft.Extensions.Configuration


@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IExtendedUserService ExtendedUserService;
@inject IBasketService BasketService
@inject NavigationManager NavigationManager;
@inject IConfiguration Configuration

<div class="main">

    <div class="header-wrapper">
        <div class="row header">
            <div class="col col-md-6">
                <a href="#"><img src="/images/logo.png" /></a>
            </div>
            <div class="col col-md-6 float-right hide-md">
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:instagram"))" target="_blank"><img src="/images/social-networks/instagram-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:youtube"))" target="_blank"><img src="/images/social-networks/youtube-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:ok"))" target="_blank"><img src="/images/social-networks/ok-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:facebook"))" target="_blank"><img src="/images/social-networks/facebook-color.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:vk"))" target="_blank"><img src="/images/social-networks/vk-color.png" /></a>
            </div>


        </div>

        <div class="row nav-row-mob margin-top-10 flex-md">
            <div class="col col-1" style="padding-left:0">
                <a class="btn btn-light toggle-btn" href="#" id="navbarDropdownMob" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-th"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMob">
                    <AccountDropdownMenu></AccountDropdownMenu>
                </div>
            </div>

            <div class="col col-10 offset-1 conteiner-for-centered @(selectedPunkt == MainMenuPunkt.Search ? "hidden" : "")">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Поиск" aria-label="Search" value="@searchText" @onchange="OnSearchTextChange" />
                </div>
            </div>
        </div>

    </div>


    <nav class="navbar navbar-expand-lg navbar-light nav-row hide-md">

        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="">
                    <a href="#" class="@(selectedPunkt == MainMenuPunkt.Main ? "active" : "")">Главная</a>
                </li>

                <li class=" dropdown">
                    <a class="dropdown-toggle @(selectedPunkt == MainMenuPunkt.Profile ? "active" : "")" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <AccountDropdownMenu></AccountDropdownMenu>
                    </div>
                </li>

                <li>
                    <a href="/Instruction" class="@(selectedPunkt == MainMenuPunkt.Instruction ? "active" : "")">Инструкция</a>
                </li>

                <li>
                    <a href="/BuyerField" class="@(selectedPunkt == MainMenuPunkt.BuyerField ? "active" : "")">Склад товаров</a>
                </li>
            </ul>



            <ul class="navbar-nav float-right">
                <AuthorizeView Roles="Normal">
                    <li>
                        <div class="dropdown">
                            <a href="/Basket" class="dropright @(selectedPunkt == MainMenuPunkt.Basket ? "active" : "")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-shopping-basket"></span>
                                Корзина
                                @if (inBasketCount > 0)
                                {
                                    <span class="badge badge-danger">@inBasketCount</span>
                                }
                            </a>

                            <!-- всплывающее меню корзины -->
                            <div class="dropdown-menu dropdown-form container">
                                @foreach (var group in puzzles.GroupBy(x => x.Lot))
                                {
                                    <div class="row">
                                        <div class="col col-3">
                                            <img class="img-full" src="@group.Key.ImageLink" />
                                        </div>
                                        <div class="col col-7">
                                            <h6>@group.Key.Name</h6>
                                            <h6 class="text-red">@(group.Key.PuzzlePrice * group.Count()) ₽</h6>
                                        </div>
                                        <div class="col col-2">
                                            <button class="del-row-btn background-color-white" @onclick="() => DeleteRowFromBasket(user, group.Key)"></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-12">
                                            <hr />
                                        </div>
                                    </div>
                                }

                                <div class="row text-center">
                                    <div class="col col-12">
                                        <h5 class="text-gray inline">Подытог: </h5>
                                        <h4 class="text-red inline">@puzzles.Sum(x => x.Lot.PuzzlePrice) ₽</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12">
                                        <hr />
                                    </div>
                                </div>

                                <div class="row conteiner-for-centered text-center">
                                    <div class="col col-12">
                                        <button class="btn btn-primary" @onclick="GoToBasket">Перейти в корзину</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </AuthorizeView>

                <li>
                    <a href="/Search" class="dropright @(selectedPunkt == MainMenuPunkt.Search ? "active" : "")"><span class="fas fa-search"></span> Поиск</a>
                </li>
            </ul>
        </div>
    </nav>


    <CascadingValue Value="@user">
        <CascadingValue Value="@BasketCountChange" Name="BasketCountChange">
            <CascadingValue Value="@MainMenuPunktChanged" Name="MainMenuPunktChanged">
                <div class="content px-4">
                    @Body
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>

</div>


    <!-- футер для маленького экрана -->
    <AuthorizeView Roles="Normal">
    <footer class="footer-mob block-md padding-top-10 margin-top-20">
        <div class="row">
            <div class="col col-3">                
                <a href="/BuyerField" class="bottom-menu-btn">
                    <img src="/images/bottom_menu_boxes.png" />
                    <br />Склад товаров
                </a>
            </div>

            <div class="col col-3">
                <a href="/NewLot" class="bottom-menu-btn">
                    <img src="/images/bottom_menu_plus.png" />
                    <br />Разместить
                </a>
            </div>

            <div class="col col-3">
                <a href="/Basket" class="bottom-menu-btn">
                    <img src="/images/bottom_menu_basket.png" />
                    <br />Корзина
                </a>
            </div>

            <div class="col col-3">
                <a href="/ManageAccount" class="bottom-menu-btn">
                    <img src="/images/bottom_menu_account.png" />
                    <br />Личный кабинет
                </a>
            </div>
        </div>
    </footer>
    </AuthorizeView>

    <!-- футер для большого экрана -->
    <footer class="footer hide-md">
        <div class="row container">
            <div class="col col-4">
                <a href="#"><img src="/images/logo_footer.png" /></a>
            </div>
            <div class="col col-5">
                <div class="row margin-top-20">
                    <div class="col col-7">
                        <a class="black-link" href="/Oferta">Пользовательское соглашение</a>
                    </div>
                    <div class="col col-5">
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col col-6">
                        <a class="black-link" href="#">Видео-инструкция</a>
                    </div>

                    <div class="col col-6">
                        <a class="black-link" href="mailto:@(Configuration.GetValue<string>("contacts:email"))">@(Configuration.GetValue<string>("contacts:email"))</a>
                    </div>
                </div>
            </div>

            <div class="col col-3 float-right margin-top-40">
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:instagram"))" target="_blank"><img src="/images/social-networks/instagram-black.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:youtube"))" target="_blank"><img src="/images/social-networks/youtube-black.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:ok"))" target="_blank"><img src="/images/social-networks/ok-black.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:facebook"))" target="_blank"><img src="/images/social-networks/facebook-black.png" /></a>
                <a class="social-logo" href="@(Configuration.GetValue<string>("contacts:vk"))" target="_blank"><img src="/images/social-networks/vk-black.png" /></a>
            </div>

        </div>
    </footer>




    @code {

        protected ExtendedUserDto user = null;
        protected int inBasketCount = 0;
        protected List<PuzzleDto> puzzles = new List<PuzzleDto>();
        protected MainMenuPunkt selectedPunkt;
        protected string searchText = "";

        protected override void OnInitialized()
        {
            user = FindUser().Result;
            UpdateBasket();

            base.OnInitialized();
        }

        private async Task<ExtendedUserDto> FindUser()
        {
            ExtendedUserDto result = null;
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                result = ExtendedUserService.GetByEmail(user.Identity.Name);
            }

            return result;
        }

        // для выделения пунктов меню
        EventCallback mainMenuPunktChanged = EventCallback.Empty;
        EventCallback MainMenuPunktChanged
        {
            get
            {
                if (mainMenuPunktChanged.Equals(EventCallback.Empty))
                    mainMenuPunktChanged = EventCallback.Factory.Create(this, (s) => OnMainMenuPunktChanged((MainMenuPunkt)s));
                return mainMenuPunktChanged;
            }
        }


        private void OnMainMenuPunktChanged(MainMenuPunkt punkt)
        {
            selectedPunkt = punkt;
        }


        // это чтобы можно было обновить корзину с конкретных страниц
        EventCallback _BasketCountChange = EventCallback.Empty;
        EventCallback BasketCountChange
        {
            get
            {
                if (_BasketCountChange.Equals(EventCallback.Empty))
                    _BasketCountChange = EventCallback.Factory.Create(this, UpdateBasket);
                return _BasketCountChange;
            }
        }

        private void UpdateBasket()
        {
            puzzles = GetBasketPuzzles(user);
            inBasketCount = puzzles.GroupBy(x => x.Lot).Count();
        }

        private List<PuzzleDto> GetBasketPuzzles(ExtendedUserDto user)
        {
            if (user == null)
                return new List<PuzzleDto>();

            BasketDto basket = BasketService.GetBasketByUser(user);
            if (basket == null || !basket.Puzzles.Any())
                return new List<PuzzleDto>();

            return basket.Puzzles.ToList();
        }

        private void GoToBasket()
        {
            NavigationManager.NavigateTo("/Basket");
        }

        private void DeleteRowFromBasket(ExtendedUserDto user, LotDto lot)
        {
            try
            {
                BasketService.RemoveFromBasket(user, lot, true);

                // обновим бейджик у корзины
                BasketCountChange.InvokeAsync(null);
            }
            catch (Exception ex)
            {
            }
        }

        private void OnSearchTextChange(ChangeEventArgs e)
        {
            searchText = e.Value.ToString();

            if (string.IsNullOrEmpty(searchText))
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                StateHasChanged();
                NavigationManager.NavigateTo("/Search/" + searchText);
                searchText = "";
            }
        }

    }
