@page "/Basket"

@using Services;
@using Services.DTO;
@using Services.Services.LotService;
@using Services.Services.ExtendedUserService;
@using Services.Services.BasketService;

@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject ILotService LotService;
@inject IExtendedUserService ExtendedUserService;
@inject IBasketService BasketService;


@attribute [Authorize(Roles = InvestPlaceDB.ExtendedRole.NORMAL)]


<LoginWelcome>
    <div class="margin-top-20"></div>

    <div class="row">
        <div class="col col-12">
            <h4 class="text-red">Корзина</h4>
        </div>
    </div>


    <div class="row">
        <div class="col col-xl-8 col-12">

            <!-- таблица с лотами в корзине -->
            <table class="table margin-top-50 text-center">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Товар</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Итого</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var group in puzzles.GroupBy(x => x.Lot))
                    {
                        <tr class="">
                            <td><button class="del-row-btn" @onclick="() => DeleteRow(user, group.Key)"></button></td>
                            <td><img src="@group.Key.ImageLink" class="basket-img" /></td>
                            <td class="text-red">@group.Key.PuzzlePrice ₽</td>
                            <td>
                                <div class="basket-count-wrapper">
                                    <button class="row-btn-minus" @onclick="() => DeletePuzzle(user, group.Key)"></button>
                                    <div class="basket-count">
                                        @*<span>@group.Count()</span>*@
                                        <input type="text" @onchange="(x) => ChangePuzzleCount(user, group.Key, (string)x.Value)" value="@group.Count()" />
                                        <h6 class="text-danger">@inputNumberError</h6>
                                    </div>
                                    <button class="row-btn-plus" @onclick="() => AddPuzzle(user, group.Key)"></button>
                                </div>
                            </td>
                            <td class="text-red">@(group.Key.PuzzlePrice * group.Count()) ₽</td>
                        </tr>
                        <tr>
                            <td class="td-caption">&nbsp;</td>
                            <td colspan="4" class="td-caption">@group.Key.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- оформление заказа -->
        <div class="col col-xl-4 col-12 margin-top-50 text-center">
            <h4>Сумма заказов</h4>
            <hr />
            <h2 class="text-red">@(summ.ToString("N2")) ₽</h2>

            <button class="btn btn-primary margin-top-120 @(summ > 0 ? "" : "disabled")" @onclick="() => DoOrder(user)">Оплатить (спишется с кошелька)</button>
            <div class="margin-top-20"></div>
            <h6 class="text-danger">@errorText</h6>
            <h6 class="text-success">@sucessText</h6>
        </div>
    </div>




    <!-- продолжить покупки -->
    <div class="row margin-top-120 text-center">
        <div class="col col-12">
            <button class="btn btn-primary" @onclick="GoBack">&lt; Продолжить покупки</button>
        </div>
    </div>

</LoginWelcome>




@code {

    [CascadingParameter(Name = "MainMenuPunktChanged")]
    protected EventCallback MainMenuPunktChanged { get; set; }

    [CascadingParameter(Name = "BasketCountChange")]
    public EventCallback BasketCountChange { get; set; }

    [CascadingParameter]
    protected ExtendedUserDto user { get; set; }

    List<PuzzleDto> puzzles = new List<PuzzleDto>();
    decimal summ;
    string errorText = "";
    string sucessText = "";
    string inputNumberError = "";


    protected override void OnInitialized()
    {
        MainMenuPunktChanged.InvokeAsync(MainMenuPunkt.Basket);
        // по пользователю надо получить корзину со всеми пазлами и лотами
        puzzles = FindPuzzles(user);
    }


    private List<PuzzleDto> FindPuzzles(ExtendedUserDto user)
    {
        if (user == null)
            return new List<PuzzleDto>();

        BasketDto basket = BasketService.GetBasketByUser(user);
        summ = basket.Puzzles.Sum(x => x.Lot.PuzzlePrice);
        return basket.Puzzles;
    }



    private void GoBack()
    {
        NavigationManager.NavigateTo("/shop");
    }


    private void DeleteRow(ExtendedUserDto user, LotDto lot)
    {
        DoServiceAction(s => s.RemoveFromBasket(user, lot, true));
    }

    private void AddPuzzle(ExtendedUserDto user, LotDto lot)
    {
        DoServiceAction(s => s.AddToBasket(user, lot));
    }

    private void ChangePuzzleCount(ExtendedUserDto user, LotDto lot, string newValStr)
    {
        inputNumberError = "";

        if (!int.TryParse(newValStr, out int newVal) || newVal < 0)
        {
            // TODO: все равно значение не обновляется
            inputNumberError = "Введите целое число";
            puzzles = FindPuzzles(user);
            StateHasChanged();

            return;
        }

        int oldVal = puzzles.Count(x => x.LotId == lot.Id);

        DoServiceAction(s => s.ChangeLotCount(user, lot, newVal - oldVal));
    }


    private void DeletePuzzle(ExtendedUserDto user, LotDto lot)
    {
        DoServiceAction(s => s.RemoveFromBasket(user, lot, false));
    }

    public void DoOrder(ExtendedUserDto user)
    {
        // TODO: надо подтверждение
        DoServiceAction(s => s.Buy(user));

        if (string.IsNullOrEmpty(errorText))
            sucessText = "Заказ успешно оформлен";
    }


    private void DoServiceAction(Action<IBasketService> action)
    {
        sucessText = "";
        errorText = "";

        try
        {
            action(BasketService);

            // обновим паззлы (количество и сумму)
            puzzles = FindPuzzles(user);
            // обновим бейджик у корзины
            BasketCountChange.InvokeAsync(null);
        }
        catch (Exception ex)
        {
            errorText = $"Произошла ошибка: {ex.Message}";
        }
    }


}
