@page "/ExchangeModerate/{queryId:int}"

@using Services.DTO;
@using Services.Services.QueryExchangeService;

@inject IQueryExchangeService QueryExchangeService;
@inject NavigationManager NavigationManager;

@attribute [Authorize(Roles = InvestPlaceDB.ExtendedRole.MODERATOR + ", " + InvestPlaceDB.ExtendedRole.ADMIN)]






<div class="row">
    <div class="col col-12">
        <h4 class="text-red">Заявка на обмен на реальный товар</h4>
    </div>
</div>

<div class="row">
    <div class="col col-6">
        <h5>@(query.ExchangeType == ExchangeOnRealType.BuyerPuzzle ? "От покупателя" : "От продавца")</h5>
    </div>
</div>

<div class="row">
    <div class="col col-3">

        <div class="row">
            <div class="col col-12">
                <label>Фамилия</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Имя</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Отчество</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Email</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Телефон</label>
            </div>
        </div>

    </div>

    <div class="col col-3">

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.Surname</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.InnerName</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.Patronymic</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.Email</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.PhoneNumber</label>
            </div>
        </div>

    </div>

    <div class="col col-3">
        <div class="row">
            <div class="col col-12">
                <label>Номер счёта</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Корр. счёт</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Банк получателя</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>ИНН</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>КПП</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>БИК</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>Адрес</label>
            </div>
        </div>
    </div>

    <div class="col col-3">
        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.SchetNumber</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.CorrSchet</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.Bank</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.INN</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.KPP</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.BIK</label>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label>&nbsp; @forUser.Address</label>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col col-3">
        <h5>Лот:</h5>
    </div>
    <div class="col col-3">
        <h5>@forLot.Name <a href="/lot/@forLot.Id" target="_blank">Посмотреть</a></h5>
    </div>
</div>


<div class="row margin-top-50">
    <div class="col col-12">
        <button class="btn btn-secondary" @onclick="() => Moderate(true)">Подтвердить отправку товара</button>
        <button class="btn btn-secondary" @onclick="() => Moderate(false)">Отклонить запрос</button>
        <h6 class="text-danger">@errorText</h6>
    </div>
</div>





@code {
    [CascadingParameter]
    protected ExtendedUserDto user { get; set; }

    [Parameter]
    public int queryId { get; set; }

    protected QueryForExchangeDto query = new QueryForExchangeDto();

    protected ExtendedUserDto forUser = null;

    protected LotDto forLot = null;

    private string errorText = "";



    protected override void OnInitialized()
    {
        query = FindQuery(queryId);
        forUser = query.ExchangeType == ExchangeOnRealType.BuyerPuzzle ? query.Puzzle.Buyer : query.Lot.Seller;
        forLot = query.ExchangeType == ExchangeOnRealType.BuyerPuzzle ? query.Puzzle.Lot : query.Lot;
    }

    private QueryForExchangeDto FindQuery(int queryId)
    {
        return QueryExchangeService.GetById(queryId);
    }

    private void Moderate(bool solution)
    {
        try
        {
            QueryExchangeService.Moderate(query, solution);
            NavigationManager.NavigateTo("/ExchangeModerateList");
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            errorText = ex.Message;
        }
    }

}
