@page "/Lot/{id:int}"

@using Services.DTO;
@using Services.Services.ExtendedUserService;
@using Services.Services.BasketService;
@using Services.Services.LotService;

@inject NavigationManager NavigationManager
@inject ILotService lotService
@inject IExtendedUserService ExtendedUserService;
@inject IBasketService BasketService;



<div class="row">
    <div class="col col-lg-6 col-12">

        <!-- картинка и разбивка по пазлам -->
        <div class="row">
            <div class="col col-10">
                <ImageWithHover MainImage="@editedLot.ImageLink" HoverImage='@($"/api/PuzzlePaint/PuzzleNet/{editedLot.Id}")' ShowHover="@showNet">
                </ImageWithHover>
            </div>
        </div>

        <!-- купить пазл, цена пазла, сколько уже куплено -->
        <div class="row margin-top-10">
            <div class="col col-9">
                <h5 class="text-red">@editedLot.PuzzlePrice&nbsp;руб</h5>
                <AuthorizeView Roles="Moderator, Admin">
                    <NotAuthorized>
                        <button class="btn btn-primary" @onclick="Buy">Купить&nbsp;пазл</button>
                        <h6 class="text-danger">@((MarkupString)buyErrorText)</h6>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <div class="col col-3">
                <button @onclick="ShowNet" class="lot-edit-count-btn">
                    <div class="lot-edit-count">@editedLot.PuzzleCount</div>
                </button>
            </div>
        </div>
    </div>

    <!-- название, описание, ссылка -->
    <!-- цена -->
    <div class="col col-12 col-lg-6">

        <div class="row">
            <div class="col col-12">
                <h4 class="text-red">@editedLot.Name</h4>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                @editedLot.Description
            </div>
        </div>


        <div class="row margin-top-20">
            <div class="col col-6">
                <h3>@editedLot.Price руб.</h3>
            </div>
            <div class="col col-6">
                <a href="@editedLot.SourceLink" class="btn btn-secondary" target="_blank">Посмотреть в интернет-магазине</a>
            </div>
        </div>

    </div>
</div>



<AuthorizeView Roles="Moderator, Admin">

    <div class="row">
        <div class="col col-12">

            @if (editedLot.CreateModerator == null)
            {
                <h5>Создатель: @editedLot.Seller?.InnerName @editedLot.Seller?.Patronymic @editedLot.Seller?.Surname (@editedLot.Seller?.Email)</h5>
                <button class="btn btn-primary" @onclick="() => CreateModerate(true)">Подтвердить создание товара</button>
                <button class="btn btn-primary" @onclick="() => CreateModerate(false)">Отклонить создание товара</button>
            }
            else
            {
                // TODO: а что делать, если промодерировали неправильно?
                <h5>Промодерирован пользоватлем @editedLot.CreateModerator.InnerName (@editedLot.CreateModerator.Email)</h5>
                <h5>@editedLot.CreateModerateDate?.ToString("dd.MM.yyyy HH:mm")</h5>
            }

            <button class="btn btn-primary" @onclick="StartEdit">Редактировать</button>
        </div>
    </div>
</AuthorizeView>




@code {
        [Parameter]
        public int Id { get; set; }

        [CascadingParameter(Name = "BasketCountChange")]
        public EventCallback BasketCountChange { get; set; }

        [CascadingParameter]
        protected ExtendedUserDto user { get; set; }

    private bool showNet = false;
    protected string buyErrorText = "";
    protected LotDto editedLot = new LotDto();

    protected override void OnInitialized()
    {
        editedLot = lotService.GetById(Id);
    }

    private void ShowNet()
    {
        showNet = !showNet;
    }

    private void StartEdit()
    {
        NavigationManager.NavigateTo($"/EditLot/{Id}");
    }

    private void Buy()
    {
        buyErrorText = "";

        // проверить, авторизован, или нет
        if (user == null)
        {
            buyErrorText = "Для покупки необходимо выполнить <a href='/Account/Login'>вход</a>";
            return;
        }

        if (!editedLot.CreateModerate)
        {
            buyErrorText = "Размещение лота еще не подтверждено модератором";
            return;
        }

        try
        {
            // добавить товар пользователю
            BasketDto basket = BasketService.AddToBasket(user, editedLot);
            BasketCountChange.InvokeAsync(null);
            NavigationManager.NavigateTo("/Basket");
        }
        catch (Exception ex)
        {
            buyErrorText = ex.Message; // TODO: лучше возвращать специальный объект с результатом операции
        }
    }

    protected void CreateModerate(bool solution)
    {
        try
        {
            lotService.CreateModerate(editedLot, solution);
            NavigationManager.NavigateTo("/NewLotModerateList");
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            buyErrorText = ex.Message;
        }
    }


}