@page "/ManageAccount"

@using Services;
@using Services.DTO;
@using Services.Services.ExtendedUserService;
@using Services.Services.FileService;


@inject IFileService FileService;
@inject IExtendedUserService ExtendedUserService;




<LoginWelcome>

    <div class="margin-top-50"></div>

    <div class="row">
        <div class="col col-2 offset-1 text-center">
            @if (string.IsNullOrEmpty(avatarLink))
            {
                <img class="avatar" src="/images/icon-profile.png" alt="profile" />
            }
            else
            {
                <img class="avatar" src="@avatarLink" alt="profile" />
            }

            <div class="load-link">
                <h6>Выберите файл для загрузки</h6>
                <InputFile dropclass="load-img" OnChange="AvatarChanged"></InputFile>
            </div>
            <h6 class="text-danger">@fileErrorText</h6>

            <h4 class="text-red text-center margin-top-20">@user.InnerName</h4>
        </div>

        <div class="col col-9">

            <EditForm Model="@user" OnValidSubmit="ValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <!-- фамилия -->
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Фамилия</label>
                            <InputText class="form-control" @bind-Value="user.Surname"></InputText>
                        </div>
                    </div>
                </div>

                <!-- имя отчество -->
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Имя</label>
                            <InputText class="form-control" @bind-Value="user.InnerName"></InputText>
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Отчетво</label>
                            <InputText class="form-control" @bind-Value="user.Patronymic"></InputText>
                        </div>
                    </div>
                </div>

                <!-- телефон Email -->
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Телефон</label>
                            <InputText class="form-control" @bind-Value="@user.PhoneNumber" />
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">E-mail</label>
                            <InputText class="form-control" @bind-Value="@user.Email" type="email" />
                        </div>
                    </div>
                </div>

                <!-- раздел - банковский счет -->
                <div class="row margin-top-50">
                    <div class="col col-12">
                        <p class="text-red">Реквизиты банковского счёта</p>
                        <hr />
                    </div>
                </div>

                <!-- Номер счета Корр.счет -->
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Номер счёта</label>
                            <InputText class="form-control" @bind-Value="@user.SchetNumber" />
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Корр. счёт</label>
                            <InputText class="form-control" @bind-Value="@user.CorrSchet" />
                        </div>
                    </div>
                </div>

                <!-- Банк получателя ИНН -->
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">Банк получателя</label>
                            <InputText class="form-control" @bind-Value="@user.Bank" />
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">ИНН</label>
                            <InputText class="form-control" @bind-Value="@user.INN" />
                        </div>
                    </div>
                </div>

                <!-- БИК КПП -->
                <div class="row">
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">БИК</label>
                            <InputText class="form-control" @bind-Value="@user.BIK" />
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-group">
                            <label class="label">КПП</label>
                            <InputText class="form-control" @bind-Value="@user.KPP" />
                        </div>
                    </div>
                </div>



                <!-- раздел - адрес -->
                <div class="row margin-top-50">
                    <div class="col col-12">
                        <p class="text-red">Адрес получения награды</p>
                        <hr />
                    </div>
                </div>
                <!-- Адрес -->
                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Индекс, область/край, город, улица, дом</label>
                            <InputText class="form-control" @bind-Value="@user.Address" />
                        </div>
                    </div>
                </div>


                <!-- Годовой рекламный сбор-->


                <!-- сохранение -->
                <div class="row margin-top-20">
                    <div class="col col-12">
                        <button class="btn btn-secondary" type="submit">Сохранить</button>
                        <label class="label" style="display:@(showSuccess ? "inline-block": "none")">Данные сохранены.</label>
                    </div>
                </div>

            </EditForm>
        </div>
    </div>



</LoginWelcome>




@code {
    [CascadingParameter]
    protected ExtendedUserDto user { get; set; }

    [CascadingParameter(Name = "MainMenuPunktChanged")]
    protected EventCallback MainMenuPunktChanged { get; set; }

    protected const int MaxFileSizeMb = 2;
    protected const int MaxFileSizeBytes = MaxFileSizeMb * 1024 * 1024;
    private bool showSuccess = false;
    private string fileErrorText = "";
    private string avatarLink = "";

    protected override void OnInitialized()
    {
        MainMenuPunktChanged.InvokeAsync(MainMenuPunkt.Profile);
        avatarLink = user.AvatarLink;
    }

    private void ValidSubmit()
    {
        showSuccess = false;
        user.AvatarLink = avatarLink;
        showSuccess = ExtendedUserService.UpdateUser(user);
    }


    protected async void AvatarChanged(IFileListEntry[] files)
    {
        avatarLink = "";
        fileErrorText = "";
        var file = files.FirstOrDefault();

        try
        {
            if (file != null)
            {
                Task task = UploadFile(file)
                    .ContinueWith((t, o) =>
                    {
                        InvokeAsync(() =>
                        {
                            avatarLink = t.Result;
                            this.StateHasChanged(); // чтобы перерисовалось view (из асинхронного вызова оно не может)
                        });
                    }, TaskContinuationOptions.ExecuteSynchronously)
                    .ContinueWith((t, o) =>
                    {
                        while (!t.IsCompleted) { }

                        if (t.Status == TaskStatus.Faulted)
                        {
                        }
                    }, TaskContinuationOptions.OnlyOnFaulted);

                await task;
            }
        }
        catch (ArgumentException aex)
        {
            fileErrorText = aex.Message;
        }
        catch (Exception ex)
        {
            fileErrorText = $"Непредвиденная ошибка при загрузке файла: {ex.Message}";
        }
    }

    private async Task<string> UploadFile(IFileListEntry file)
    {
        List<string> acceptedFileTypes = new List<string>() { "image/png", "image/jpeg", "image/gif" };
        if (file != null)
        {
            if (file.Size > MaxFileSizeBytes)
            {
                throw new ArgumentException($"Размер файла не должен превышать {MaxFileSizeMb} Мб");
            }

            if (!acceptedFileTypes.Contains(file.Type))
            {
                throw new ArgumentException("Файл должен иметь расширение png, jpg или gif");
            }

            // принимаем файл, загружаем его на сервер, и отображаем по ссылке
            if (string.IsNullOrEmpty(fileErrorText))
            {
                string ext = file.Type.Substring(file.Type.IndexOf('/') + 1);

                return await FileService.UploadFileAndGetLinkAsync(UploadFileType.Avatar, ext, file.Data, user);
            }
        }

        return "";
    }



}
