@page "/NewLot"

@using Services.DTO;
@using Services.Services;
@using Services.Services.LotService;
@using Services.Services.LotPresaveService;
@using Services.Services.ExtendedUserService;
@using Services.Services.FileService;
@using Services.Services.CategoryService;
@using Services.Services.BasketService;


@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject ILotService LotService;
@inject IExtendedUserService ExtendedUserService;
@inject IFileService FileService;
@inject ICategoryService CategoryService;
@inject IBasketService BasketService;
@inject ILotPresaveService LotPresaveService;


<LoginWelcome>

    <div class="margin-top-20"></div>

    <div class="row">
        <div class="col col-3">
            <h4 class="text-red">Разместить товар</h4>
        </div>
    </div>


    <EditForm Model="newLot" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col col-6">

                <!-- место для загрузки картинки -->
                @if (!string.IsNullOrEmpty(imageLink))
                {
                    <img class="img-full" src="@imageLink" />
                    <button class="btn btn-link text-danger" type="button" @onclick="@RemoveFile">
                        <small class="align-text-bottom">Удалить</small>
                    </button>
                }
                else
                {
                    <div class="dropzone text-gray-light">
                        <h5 class="text-center">Перетащите картинку товара сюда или нажмите для выбора файла</h5>
                        <InputFile dropclass="load-img" OnChange="HandleFileSelected"></InputFile>
                    </div>
                }

                <h6 class="text-danger">@fileErrorText</h6>
            </div>


            <div class="col col-6">

                <!-- параметры товара - категория, название, адрес сайта товара, цена в интернет-магазине, описание -->
                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Категория</label>
                            <InputSelect class="form-control" @bind-Value="parentCategory">
                                <option value="0">Не выбрано</option>
                                @foreach (var cat in categories.Where(x => x.Parent == null).OrderBy(x => x.Name))
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Подкатегория</label>
                            <InputSelect class="form-control"  Value="@selectedCategory" ValueExpression="() => selectedCategory" ValueChanged="(string v) => SelectedCategoryChanged(v)">
                                <option value="0">Не выбрано</option>
                                @foreach (var cat in categories.Where(x => x.Parent != null && $"{x.Parent.Id}" == parentCategory).OrderBy(x => x.Name))
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Название товара</label>
                            <InputText class="form-control" Value="@newLot.Name" ValueExpression="() => newLot.Name" ValueChanged="(string v) => NameValueChanged(v)"></InputText>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Адрес сайта товара</label>
                            <InputText class="form-control" Value="@newLot.SourceLink" ValueExpression="() => newLot.SourceLink" ValueChanged="(string v) => SourceLinkValueChanged(v)"></InputText>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Цена в интернет-магазине</label>
                            <!-- если сделать просто bind-Value, то не сможем обработать событие на изменение -->
                            <InputNumber class="form-control" Value="@newLot.Price" ValueExpression="() => newLot.Price" ValueChanged="(decimal v) => PriceValueChanged(v)"></InputNumber>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="form-group">
                            <label class="label">Краткое описание товара</label>
                            <InputTextArea class="form-control" Value="@newLot.Description" ValueExpression="() => newLot.Description" ValueChanged="(string v) => DescriptionValueChanged(v)"></InputTextArea>
                        </div>
                    </div>
                </div>

                <!-- стоимость пазла -->
                <div class="row">
                    <div class="col col-12">
                        <h6 class="text-gray">Стоимость одного пазла: <span class="text-red">@newLot.PuzzlePrice руб</span></h6>
                    </div>
                </div>

            </div>
        </div>


        <!-- список товаров для покупки пазлов -->
        <div class="margin-top-20">

            <!-- воспользоваться скидкой -->
            <div class="row">
                <div class="col col-12">
                    <h6>Для размещения собственного товара, необходимо осуществить помощь в сборе пазлов другим участникам в кол-ве 50%, т.е. оказать помощь в сборе в размере @(newLot.Price / 2) руб.</h6>
                    <h6>Накоплено оказанной помощи: @(user?.Cash?.HelpingSumm ?? 0) руб.</h6>
                </div>
            </div>

            <!-- тут нельзя использовать LotRowsByPriceRange, потому что: 1. не переходим товар, а помещаем в корзину. 2. выбранный надо отмечать галками -->
            <!-- на самом деле тут всегда одна группа -->
            @foreach (var gr in actualRangeredLots.GroupBy(x => x.PriceRange).OrderBy(x => x.Key.Minimum))
            {
                <!-- сначала строка с первыми товарами -->
                <div class="row margin-top-20">
                    <div class="col col-2 conteiner-for-centered right-separator justify-content-center">
                        <h6 class="text-center text-red">@gr.Key.Minimum - @gr.Key.Maximum руб</h6>
                    </div>

                    @foreach (var lot in gr.Take(5))
                    {
                        <div class="col col-2">
                            <a class="link-text-usual cursor-pointer" @onclick="() => LotClicked(lot)">
                                <ImageWithHover MainImageClasses="lot-my-img-sm" HoverImageClasses="lot-my-img-xs" MainImage="@lot.ImageLink" HoverImage="/images/galka.png" ShowHover="@lotsInBasket.Contains(lot)" />
                                <div class="lot-my-count">@lot.PuzzleCount</div>
                                <div class="lot-my-price">@lot.Price ₽</div>

                                <div class="lot-my-caption">@lot.Name</div>
                            </a>
                        </div>
                    }
                </div>


                <!-- а потом уже и остальные строки на раскрывающейся панели -->
                <div class="row">
                    <div class="col col-2 offset-5">
                        <a class="" data-toggle="collapse" href="#collapseGroup_@gr.Key.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img width="145" src="/images/horizontal-arrow.png" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">

                        <div class="collapse" id="collapseGroup_@gr.Key.Id">
                            <div class="card card-body background-color-body">
                                <div class="row">
                                    @foreach (var lot in gr.Skip(5))
                                    {
                                        <div class="col col-2">
                                            <a class="link-text-usual" href="/lot/@lot.Id">
                                                <img class="lot-my-img" src="@lot.ImageLink" alt="" />
                                                <div class="lot-my-count">@lot.PuzzleCount</div>
                                                <div class="lot-my-price">@lot.Price ₽</div>

                                                <div class="lot-my-caption">@lot.Name</div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>



        <!-- рекламный сбор -->
        <div class="row">

        </div>


        <!-- сохранить товар -->
        <div class="row margin-top-20">
            <div class="col col-12">
                <button class="btn btn-secondary" type="submit">Сохранить</button>
                <br/>
                <h6 class="text-danger">@saveErrorText</h6>
            </div>
        </div>
    </EditForm>

</LoginWelcome>






@code {
    [CascadingParameter]
    protected ExtendedUserDto user { get; set; }

    [CascadingParameter(Name = "BasketCountChange")]
    public EventCallback BasketCountChange { get; set; }

    protected const int MaxFileSizeMb = 2;
    protected const int MaxFileSizeBytes = MaxFileSizeMb * 1024 * 1024;
    protected string fileErrorText = "";
    protected string saveErrorText = "";
    protected string imageLink = "";
    protected string parentCategory = "0";
    protected string selectedCategory = "0";
    protected List<CategoryDto> categories = new List<CategoryDto>();
    protected List<LotDto> actualLots = new List<LotDto>();
    protected List<LotDto> actualRangeredLots = new List<LotDto>();
    protected List<LotDto> lotsInBasket = new List<LotDto>();
    protected LotDto newLot;


    protected override void OnInitialized()
    {
        categories = FindCategories();
        actualLots = LotService.GetActual(true);
        actualRangeredLots = actualLots.GroupBy(x => x.PriceRange).FirstOrDefault().ToList();
        UpdateLotsInBasket();

        if (user != null)
        {
            newLot = LotPresaveService.GetPresaveLot(user);
            if (newLot != null)
            {
                imageLink = newLot.ImageLink;
                parentCategory = newLot.Categories.FirstOrDefault()?.Parent?.Id.ToString() ?? "0";
                selectedCategory = newLot.Categories.FirstOrDefault()?.Id.ToString() ?? "0";
            }
            else
            {
                newLot = new LotDto();
            }
        }
        else
        {
            newLot = new LotDto();
        }
    }

    private List<CategoryDto> FindCategories()
    {
        return CategoryService.GetAll();
    }

    protected void RemoveFile()
    {
        imageLink = "";
        // файл с сервера при этом не удаляем ?
        PresaveLot();
    }

    protected async void HandleFileSelected(IFileListEntry[] files)
    {
        imageLink = "";
        fileErrorText = "";
        var file = files.FirstOrDefault();

        try
        {
            if (file != null)
            {
                Task task = UploadFile(file)
                    .ContinueWith((t, o) =>
                    {
                        InvokeAsync(() =>
                        {
                            imageLink = t.Result;
                            PresaveLot();
                            this.StateHasChanged(); // чтобы перерисовалось view (из асинхронного вызова оно не может)
                        });
                    }, TaskContinuationOptions.ExecuteSynchronously)
                    .ContinueWith((t, o) =>
                    {
                        while (!t.IsCompleted) { }

                        if (t.Status == TaskStatus.Faulted)
                        {
                        }
                    }, TaskContinuationOptions.OnlyOnFaulted);

                await task;
            }
        }
        catch (ArgumentException aex)
        {
            fileErrorText = aex.Message;
        }
        catch (Exception ex)
        {
            fileErrorText = $"Непредвиденная ошибка при загрузке файла: {ex.Message}";
        }
    }

    private async Task<string> UploadFile(IFileListEntry file)
    {
        List<string> acceptedFileTypes = new List<string>() { "image/png", "image/jpeg", "image/gif" };
        if (file != null)
        {
            if (file.Size > MaxFileSizeBytes)
            {
                throw new ArgumentException($"Размер файла не должен превышать {MaxFileSizeMb} Мб");
            }

            if (!acceptedFileTypes.Contains(file.Type))
            {
                throw new ArgumentException("Файл должен иметь расширение png, jpg или gif");
            }

            // принимаем файл, загружаем его на сервер, и отображаем по ссылке
            if (string.IsNullOrEmpty(fileErrorText))
            {
                string ext = file.Type.Substring(file.Type.IndexOf('/') + 1);

                return await FileService.UploadFileAndGetLinkAsync(UploadFileType.LotImage, ext, file.Data, user);
            }
        }

        return "";
    }



    private void PriceValueChanged(decimal value)
    {
        newLot.Price = value;

        // определим, какой подходит ценовой диапазон 
        // отобразим строку товаров именно по этому диапазону
        actualRangeredLots = actualLots.GroupBy(x => x.PriceRange)
            .FirstOrDefault(x => x.Key.Minimum <= newLot.PuzzlePrice && newLot.PuzzlePrice <= x.Key.Maximum)
            ?.ToList() ?? new List<LotDto>();

        PresaveLot();
    }

    private void NameValueChanged(string value)
    {
        newLot.Name = value;

        PresaveLot();
    }

    private void SourceLinkValueChanged(string value)
    {
        newLot.SourceLink = value;

        PresaveLot();
    }

    private void DescriptionValueChanged(string value)
    {
        newLot.Description = value;

        PresaveLot();
    }

    private void SelectedCategoryChanged(string category)
    {
        selectedCategory = category;

        PresaveLot();
    }



    private void PresaveLot()
    {
        LotDto presave = newLot;
        presave.ImageLink = imageLink;

        presave.Categories = new List<CategoryDto>() { new CategoryDto() { Id = int.Parse(selectedCategory) } };

        LotPresaveService.SavePresaveLot(user, presave);
    }


    protected void ValidSubmit()
    {
        saveErrorText = "";

        // проверяем картинку
        if (string.IsNullOrEmpty(imageLink))
        {
            fileErrorText = "Должно быть выбрано изображение";
            return;
        }

        newLot.ImageLink = imageLink;

        OperationResult result = LotService.CreateLot(newLot, user, new List<int>() { int.Parse(selectedCategory) });

        if (result.Success)
        {
            LotPresaveService.ClearPresaveLot(user);
            NavigationManager.NavigateTo("/MyLots");
        }
        else
        {
            saveErrorText = result.ErrorText;
        }
    }


    private void UpdateLotsInBasket()
    {
        BasketDto basket = BasketService.GetBasketByUser(user);
        lotsInBasket = basket.Puzzles.Select(x => x.Lot).ToList();
    }

    /// <summary>
    /// Нажали на один из лотов в помощи другим участникам
    /// </summary>
    private void LotClicked(LotDto lot)
    {
        try
        {
            saveErrorText = "";
            // нужно добавить или убрать из корзины
            if (lotsInBasket.Contains(lot))
            {
                BasketService.RemoveFromBasket(user, lot, true);
            }
            else
            {
                BasketService.AddToBasket(user, lot);
            }

            BasketCountChange.InvokeAsync(null);
            // TODO: По идее, это надо делать в событии: BasketCountChange += (x) => { }; Но отсюда к нему нельзя прикрепиться
            UpdateLotsInBasket();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            saveErrorText = ex.Message;
        }
    }


}
