@page "/Search"

@using Services.DTO;
@using Services.Services.LotService;
@using Services.Services.CategoryService;

@inject IJSRuntime JSRuntime;
@inject ILotService lotService
@inject ICategoryService CategoryService;

<div class="row">
    <div class="col col-12">
        <h4 class="text-red">Поиск товаров</h4>
    </div>
</div>


<EditForm Model="searchParams">

    <div class="row">
        <div class="col col-6">
            <div class="form-group">
                <label class="label">Категория</label>
                <InputSelect class="form-control" Value="@searchParams.ParentCategoryId" ValueExpression="() => searchParams.ParentCategoryId" ValueChanged="(string s) => ParentCategoryChanged(s)">
                    <option value="0">Не выбрано</option>
                    @foreach (var cat in categories.Where(x => x.Parent == null).OrderBy(x => x.Name))
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col col-6">
            <div class="form-group">
                <label class="label">Подкатегория</label>
                <InputSelect class="form-control" Value="@searchParams.SelectedCategoryId" ValueExpression="() => searchParams.SelectedCategoryId" ValueChanged="(string s) => SelectedCategoryChanged(s)">
                    <option value="0">Не выбрано</option>
                    @foreach (var cat in categories.Where(x => x.Parent != null && $"{x.Parent.Id}" == searchParams.ParentCategoryId).OrderBy(x => x.Name))
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <InputText type="text" class="form-control" placeholder="Название или категория товара" aria-label="Search" aria-describedby="basic-addon1" Value="@searchParams.Text" ValueExpression="() => searchParams.Text" ValueChanged="(string s) => SearchTextChanged(s)" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col col-5">
            <form class="form-inline slider-wrapper" id="slider-wrapper">

                <div class="form-group">
                    <!-- на самом деле bind здесь не работает. Значение в инпуте меняется через js (от слайдера) и потом отправляется в MinValChanged -->
                    <InputNumber type="number" class="form-control input-min" id="inputMin" disabled @bind-Value="searchParams.MinPrice" />
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <input id="ex2" type="text" class="span2" value="" data-slider-min="@searchParams.MinPrice" data-slider-max="@searchParams.MaxPrice" data-slider-step="10" data-slider-value="[@searchParams.MinPrice,@searchParams.MaxPrice]" data-slider-handle="square" />
                </div>

                <div class="form-group">
                    <input type="number" class="form-control input-max" id="inputMax" disabled @bind-value="searchParams.MaxPrice">
                </div>

            </form>
        </div>

        <div class="col col-7">
            @foreach (var lot in searchedLots)
            {
                <div class="row">
                    <div class="col col-4">
                        <div class="search-card">
                            <a href="/lot/@lot.Id">
                                <img src="@lot.ImageLink" />
                            </a>
                        </div>
                    </div>

                    <div class="col col-8">
                        <div class="search-desc">
                            <h6>@lot.Name</h6>
                            <a class="text-red" href="@lot.SourceLink" target="_blank">@lot.SourceLink</a>
                            <h6 class="search-price">@lot.PuzzlePrice</h6>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</EditForm>




@code {

    private LotSearchParams searchParams = null;
    private List<LotDto> allLots = new List<LotDto>();
    private List<LotDto> searchedLots = new List<LotDto>();
    private DotNetObjectReference<Search> objRef;
    protected List<CategoryDto> categories = new List<CategoryDto>();


    protected override void OnInitialized()
    {
        allLots = lotService.GetActual(true);       // TODO: надо ли получать тут все? может лучше по параметрам поиска?
        categories = CategoryService.GetAll();

        searchParams = new LotSearchParams();
        searchParams.MinPrice = (int)allLots.Min(x => x.PriceRange.Minimum);
        searchParams.MaxPrice = (int)allLots.Max(x => x.PriceRange.Maximum);

        searchedLots = allLots.Select(x => x).ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
        {
            if (objRef == null)
                objRef = DotNetObjectReference.Create(this);

            await JSRuntime.InvokeAsync<string>("initSlider2", "ex2", "slider-wrapper", objRef);
        }
    }

    [JSInvokable]
    public void MinValChanged(string minStr)
    {
        if (int.TryParse(minStr, out int min))
        {
            searchParams.MinPrice = min;
            DoSearch();
        }
    }

    [JSInvokable]
    public void MaxValChanged(string maxStr)
    {
        if (int.TryParse(maxStr, out int max))
        {
            searchParams.MaxPrice = max;
            DoSearch();
        }
    }

    public void ParentCategoryChanged(string value)
    {
        searchParams.ParentCategoryId = value;
        DoSearch();
    }

    public void SelectedCategoryChanged(string value)
    {
        searchParams.SelectedCategoryId = value;
        DoSearch();
    }

    public void SearchTextChanged(string text)
    {
        searchParams.Text = text;
        DoSearch();
    }

    public void KeyPress(KeyboardEventArgs args)
    {
        // TODO: учитывать надо delete, backspace и т.д.
        // в компоненте -  @onkeypress="KeyPress"
        if (args.Key.Length == 1)
        {
            searchParams.Text += args.Key;
        }
    }

    private void DoSearch()
    {
        // TODO: добавить задержку по времени, а то больно быстро параметры меняются

        var res = allLots
            .Where(x => x.PuzzlePrice >= searchParams.MinPrice)
            .Where(x => x.PuzzlePrice <= searchParams.MaxPrice);

        if (!string.IsNullOrWhiteSpace(searchParams.Text))
        {
            string searchText = searchParams.Text.ToLower();
            res = res.Where(x => x.Name.ToLower().Contains(searchText)
                || x.Categories.Any(x => x.Name.ToLower().Contains(searchText)));
        }

        if (int.TryParse(searchParams.ParentCategoryId, out int parentCatId) && parentCatId > 0)
        {
            res = res.Where(x => x.Categories.Any(y => y.Id == parentCatId || y.Parent.Id == parentCatId));
        }

        if (int.TryParse(searchParams.SelectedCategoryId, out int selectedCatId) && selectedCatId > 0)
        {
            res = res.Where(x => x.Categories.Any(y => y.Id == selectedCatId));
        }

        searchedLots = res.ToList();
        this.StateHasChanged();
    }

    public class LotSearchParams
    {
        public string Text { get; set; }
        public string ParentCategoryId { get; set; } = "0";
        public string SelectedCategoryId { get; set; } = "0";
        public int MinPrice { get; set; }
        public int MaxPrice { get; set; }
    }
}


